<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/list-style.css') }}">

    <title>Document</title>
</head>
<body>
    <h1>Employee List</h1>
<table class="rwd-table">
  <tr>
    <th>Id</th>
    <th>Employee username</th>
    <th>Location</th>
    <th>Efficiency</th>
  </tr>
  
  {% for employee in data %}
    <tr>
        <td data-th="Movie Title">{{data[employee].id}}</td>
        <td data-th="Genre">{{data[employee].name}}</td>l
        <td data-th="Year">{{data[employee].location}}</td>
        <td data-th="Gross">{{data[employee].efficiency}}</td>
    </tr>
 {%endfor%}

</table>

</body>
</html>